/*Estilos da pagina index.html:*/
.text{
    color: rgb(212, 199, 14);
    font-size: 20px;
    width: 300px;
    padding: 50px;
    margin: 20px;
    font-size:large ;
    font-family: 'Macondo', cursive;
}
#idTeste{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: hsl(135, 59%, 41%);
}

nav {
    background-color: rgba(0, 0, 0, 0.747);
    margin: 0%;
    padding: 30px;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.center {
    text-align: center;
}
a {
    text-decoration: none;
}
.containe {
    display: flex;
    flex-flow: row;
    justify-content:center;
    align-items: center;
}
#menu li a:hover {
    color: rgb(212, 199, 14);
    font-size: 22px;
}
.p-30 {
    padding: 50px;
    font-size: 15px;
}
.br-50 {
    border-radius: 50%;
}
/*
width: 300px
height: 300px
*/

.tm-social {
    width: 40px;
    height: 40px;
}
.mb-50 {
    margin-bottom: 50px;
}
.rd-Letra {
    font-size: 15px;
}
.justificado {
    text-align: justify;
}